#notificationWrapper li {
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
}
.NotificationContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NotificationTitle {
  font-size: 16px;
}
.NotificationSubTitle {
  font-size: 11px;
  opacity: 0.5;
}
.notificationIcon {
  width: 12px;
  height: 12px;
}
