.drawerHeader p,
.drawerMenu p {
  color: black !important;
}
.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.menuItemLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 20px;
  }
}
.arrowIcon {
  width: 15px;
}

.profileItem {
  width: 100%;
}
.email {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#logoutBtn {
  color: white !important;
}
